@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');

#door{
    position: absolute;
    left:30.3%;
    bottom:9.4%;
    height: 21.375%;
    padding:0;
    transform-origin: left;
    transform-style: preserve-3d;
    box-sizing: border-box;
    transition-duration: 2s;
    z-index:1;
}
#door img{
    height:100%;
}

#door:hover{
    border: 5px solid orange;
    left: 30.3%;
    bottom: 9.4%;
}

.door-back{
    position: absolute;
    left:30.3%;
    bottom:9.4%;
    height:21.1%;
    background-color: black;
    width:6.25%;
}

#enter{
    position: absolute;
    top:0;
    left:50%;
    transform:translateX(-50%);
    color:orange;
    font-family: "Pirata One", system-ui;
    text-align: center;
}

#enter p{
    font-size: 1.2rem;
    margin:0;
}

#enterLink{
    position: absolute;
    left:30.4%;
    bottom:9.4%;
    height: 21.375%;
    width:6%;
	background-color: rgba(230, 120, 10, 0.1);
}

.house-container{
    perspective-origin: 100% 80%;
    perspective:500px;
}
