#door1{
	height:75%;
	width:10.83%;
	background-color: rgba(230, 120, 10, 0.1);
	position: absolute;
    left: 26.66%;
    bottom: 0;
    padding:0;
    transform-origin: left;
    transform-style: preserve-3d;
	transform: rotateY(79deg) rotateX(355deg) rotateZ(359deg);
    box-sizing: border-box;
}

#door2{
    height: 75%;
    width: 8.33%;
    background-color: rgba(34, 66, 206, 0.1);
    position: absolute;
    right: 19.58%;
    bottom: 0;
    padding: 0;
    transform-origin: left;
    transform-style: preserve-3d;
    transform: rotateY(97deg) rotateX(3deg);
    box-sizing: border-box;
}

#door3{
	height: 48.375%;
    width: 20%;
    background-color: rgba(191, 0, 0, 0.1);
    position: absolute;
    right: 39.16%;
    bottom: 3.75%;
    padding: 0;
    transform-origin: left;
    transform-style: preserve-3d;
    transform: rotateY(360deg) rotateX(5deg) rotateZ(360deg);
    box-sizing: border-box;
}

.house-container{
	perspective: 500px;
	perspective-origin: center bottom;
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}
@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}