.house-container{
	perspective: 400px;
	perspective-origin: 60% 60%;
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
    text-align: center;
}
@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
#door1{
	height:40%;
	width:5%;
	background-color: rgba(230, 120, 10, 0.1);
	position: absolute;
    left: 29.6%;
    bottom: 30%;
    padding:0;
    transform-origin: left;
    transform-style: preserve-3d;
	transform: rotateY(79deg);
    box-sizing: border-box;
}